* {
	margin:0;
	padding:0;
}

h1 {
	text-align:center;
}

html {
	background-image: url('../images/background.png');
	height:100%;
}

.container {
	margin:10px auto;
	width:950px;
	background-color:#fff;
	border:1px solid #999;
	border-radius:4px;
	padding:10px;
}

#cursor-info {
	opacity:0.7;
}

#ctn p {
	margin:20px 0;
}

ul {
	list-style-position: inside;
	margin-left:10px;
}

ul li {
	margin:10px 0;
}

.option-links {
	margin-bottom:20px;
}

.text-center {
	text-align:center;
}

.options>div {
	margin-bottom:20px;
}

.options div div {
	margin:10px;
}

.options label {
	display:inline-block;
	width:400px;
}

.options input[type=text] {
	width:30px;
	text-align:center;
}

.option-links div {
	display:inline-block;
	margin-bottom:10px;
	min-height:20px;
	width:180px;
}

.canvas {
	margin:2px;
	border:1px solid #999;
}

.canvas-wrapper {
	align-items: flex-start;
	display:flex;
}

.canvas-container {
	display:none;
	border:1px solid #999;
	padding:10px;
}